# env file example, save as env

# django secret key
# python -c 'import random; result = "".join([random.choice("abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)") for i in range(50)]); print(result)'
SECRET_KEY=

POSTGRES_DB=app_db
POSTGRES_USER=pg_user
POSTGRES_PASSWORD=pg_pass
POSTGRES_URL=db
POSTGRES_PORT=5432
